* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

main {
  padding: 1rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

/* CSS - STYLING THE HTML FOOTER CLASS */

.footer-content {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
 
 }